In [2]:
import pandas as pd

In [3]:
countries = pd.read_csv("countries.csv")
countries.head()

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06

In [4]:
submission = pd.read_csv("sample_submission_NDF.csv")
submission.head()

           id country
0  5uwns89zht     NDF
1  jtl0dijy2j     NDF
2  xx0ulgorjt     NDF
3  6c6puo6ix0     NDF
4  czqhjk3yfe     NDF

In [5]:
sessions = pd.read_csv("sessions.csv")
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [6]:
test_users = pd.read_csv("test_users.csv")
test_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [7]:
train_users_ = pd.read_csv("train_users_2.csv")
train_users =train_users_.drop(["country_destination"],axis =1)
train_users_.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [8]:
all_users = pd.concat([train_users,test_users])
all_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome

## first_device_type

In [9]:
device = all_users["first_device_type"].value_counts()

In [10]:
x,y = device.index.tolist(),device.values.tolist(),
from pyecharts import options as opts
from pyecharts.charts import Bar



c = (
    Bar()
    .add_xaxis(x)
    .add_yaxis("device_distribution",y, )                                                       
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    
    .set_global_opts(
        title_opts=opts.TitleOpts(title="device_distribution"),
        xaxis_opts=opts.AxisOpts(
            axistick_opts=opts.AxisTickOpts(is_align_with_label=True),
            axislabel_opts={"rotate":-45},
            is_scale=False,
            boundary_gap=True,
        ),
        
  
    )
   
)
c.render("device_distribution.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\device_distribution.html'

## country_destination

In [11]:
device = train_users_.loc[train_users_["language"]=="zh"]

In [13]:
train_users_no_DNF = train_users_.loc[train_users_["country_destination"]!="NDF"]
#train_users_no_DNF
lan = train_users_no_DNF.groupby("language")["country_destination"].value_counts()

In [15]:
import json
from pyecharts import options as opts
from pyecharts.charts import Page, TreeMap
data =[]
x,y = lan.index.tolist(),lan.values.tolist()
for i in range(133):
    a = [{"value":y[i], "name": x[i]},]
    data.extend(a)
    
c = (
     TreeMap()
        .add("country_destination", data)
        .set_global_opts(title_opts=opts.TitleOpts(title="country_destination"))
        .set_series_opts(
            legend_opts=opts.LegendOpts(
                is_show=True
            ),

           label_opts=opts.LabelOpts(position="inside"),
            )
)
c.render("country_destination.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\country_destination.html'

In [16]:
all_users.isna().any()

id                         False
date_account_created       False
timestamp_first_active     False
date_first_booking          True
gender                     False
age                         True
signup_method              False
signup_flow                False
language                   False
affiliate_channel          False
affiliate_provider         False
first_affiliate_tracked     True
signup_app                 False
first_device_type          False
first_browser              False
dtype: bool

## date_account_created

In [17]:
all_users["y-m"] = train_users["date_account_created"].str[:7]
all_users["y-m"].head()

0    2010-06
1    2011-05
2    2010-09
3    2011-12
4    2010-09
Name: y-m, dtype: object

In [18]:
date_account_created = all_users.groupby("y-m")["id"].count()
date_account_created.head()

y-m
2010-01    122
2010-02    204
2010-03    326
2010-04    314
2010-05    454
Name: id, dtype: int64

In [19]:
import pyecharts.options as opts
from pyecharts.charts import Line
x,y = date_account_created.index.tolist(),date_account_created.values.tolist()

c = (
    Line()
    .add_xaxis(x)
    .add_yaxis("date_account_created_number", y, is_smooth=True,linestyle_opts=opts.LineStyleOpts( width=5),)
    .set_series_opts(
            
            label_opts=opts.LabelOpts(is_show=False),
        )
    .set_global_opts(title_opts=opts.TitleOpts(title="Monthly New Users"),
                     xaxis_opts=opts.AxisOpts(
            axistick_opts=opts.AxisTickOpts(is_align_with_label=True),
            axislabel_opts={"rotate":-90},
            is_scale=False,
            boundary_gap=True,
        ),)
)
c.render("Monthly New Users.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\Monthly New Users.html'

## Gender ratio

In [20]:
all_users["gender"].value_counts()

-unknown-    129480
FEMALE        77524
MALE          68209
OTHER           334
Name: gender, dtype: int64

In [21]:
from pyecharts import options as opts
from pyecharts.charts import Page, Pie
x =["FEMALE","MALE"]
y =[77524,68209]
c = (
    Pie()
    .add(
        "",
        [list(z) for z in zip(x,y)],
        radius=["40%", "75%"], center = ["60%", "55%"]
    )
    .set_global_opts(
        title_opts=opts.TitleOpts(title="Airbnb user gender ratio"),
        legend_opts=opts.LegendOpts(
            orient="vertical", pos_top="15%", pos_left="2%"
        ),
    )
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
)
c.render("Airbnb user gender ratio.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\Airbnb user gender ratio.html'

## Age distribution

In [22]:
all_users.loc[((all_users["age"]<7)|(all_users["age"]>75)),"age"]=0

In [23]:
age = all_users.loc[all_users["age"]!=0,"age"]
age = age.dropna()
age_counts = age.value_counts()
age_counts_sort = age_counts.sort_index()

In [24]:
from pyecharts import options as opts
from pyecharts.charts import Bar

x,y = age_counts_sort.index.tolist(),age_counts_sort.values.tolist()

c = (
    Bar()
    .add_xaxis(x)
    .add_yaxis("Age_distribution_count",y, )                                                       
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    
    .set_global_opts(
        title_opts=opts.TitleOpts(title="Age_distribution_count"),
        xaxis_opts=opts.AxisOpts(
            axistick_opts=opts.AxisTickOpts(is_align_with_label=True),
            axislabel_opts={"rotate":0},
            is_scale=False,
            boundary_gap=True,
        ),
        
  
    )
   
)
c.render("Age_distribution_count.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\Age_distribution_count.html'

## Users Geographic Distribution

In [25]:
local = all_users["language"].value_counts()

In [26]:
x,y = local.index.tolist(),local.values.tolist()
len(y)

26

In [28]:
from pyecharts import options as opts
from pyecharts.charts import Page, TreeMap
data =[]

for i in range(26):
    a = [
        {"value":y[i], "name": x[i]},
    ]
    data.extend(a)

c = (
    TreeMap()
    .add("Users_Geographic_Distribution", data)
    .set_global_opts(title_opts=opts.TitleOpts(title=""))
    .set_series_opts(
        legend_opts=opts.LegendOpts(
            is_show=True
        ),
            
       label_opts=opts.LabelOpts(position="inside"),
        )
)
    
c.render("Users_Geographic_Distribution.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\Users_Geographic_Distribution.html'

## Promotion Channel Portfolio

In [29]:
all_users["channel-provider"] = all_users["affiliate_channel"].str.cat(all_users["affiliate_provider"],sep ="-")

In [30]:
all_users["channel-provider"].head()

0    direct-direct
1       seo-google
2    direct-direct
3    direct-direct
4    direct-direct
Name: channel-provider, dtype: object

## Promotion Channel visit count

In [31]:
visit = all_users.groupby(["channel-provider"])["id"].count()
visit

channel-provider
api-other                      8167
content-facebook                597
content-google                 3043
content-gsp                     455
content-other                    22
content-yandex                    1
direct-direct                181270
direct-other                    301
other-craigslist               3475
other-email-marketing           270
other-facebook-open-graph       566
other-meetup                    358
other-other                    4034
other-padmapper                 836
other-wayn                        8
remarketing-google             1266
remarketing-yandex                2
sem-brand-baidu                   8
sem-brand-bing                 2104
sem-brand-daum                    1
sem-brand-google              34273
sem-brand-naver                   7
sem-brand-other                  39
sem-brand-yandex                  7
sem-non-brand-baidu              18
sem-non-brand-bing              916
sem-non-brand-daum                2
sem-non-brand-facebook            5
sem-non-brand-google          18092
sem-non-brand-naver              59
sem-non-brand-other             144
sem-non-brand-vast              830
sem-non-brand-yahoo               1
sem-non-brand-yandex              8
seo-baidu                         6
seo-bing                        699
seo-facebook                   3394
seo-google                     9282
seo-other                       329
seo-yahoo                       652
Name: id, dtype: int64

## Promotion Channel date_first_booking count

In [32]:
booking = all_users.groupby(["channel-provider"])["date_first_booking"].count()
booking.sort_values(ascending =False)

channel-provider
direct-direct                59234
sem-brand-google             10705
sem-non-brand-google          6516
api-other                     2785
seo-google                    2739
other-craigslist              1616
other-other                   1508
seo-facebook                   724
content-google                 451
sem-brand-bing                 375
remarketing-google             368
sem-non-brand-bing             296
sem-non-brand-vast             271
other-padmapper                252
seo-yahoo                      174
direct-other                   164
seo-bing                       162
seo-other                      156
other-facebook-open-graph      141
content-facebook                68
other-meetup                    46
sem-non-brand-other             45
content-gsp                     37
other-email-marketing           37
sem-non-brand-naver             15
sem-non-brand-baidu              5
sem-brand-baidu                  5
sem-brand-yandex                 3
sem-brand-naver                  3
sem-brand-other                  3
content-other                    2
sem-non-brand-daum               1
sem-non-brand-yandex             1
content-yandex                   0
sem-non-brand-yahoo              0
seo-baidu                        0
other-wayn                       0
remarketing-yandex               0
sem-non-brand-facebook           0
sem-brand-daum                   0
Name: date_first_booking, dtype: int64

In [33]:
booking.sum()

88908

## Promotion Channel Conversion rate

In [34]:
rate = booking/visit
#rate["provider-channel"] = rate["affiliate_channel"].str.cat(rate["affiliate_provider"],sep="-")
rate

channel-provider
api-other                    0.341006
content-facebook             0.113903
content-google               0.148209
content-gsp                  0.081319
content-other                0.090909
content-yandex               0.000000
direct-direct                0.326772
direct-other                 0.544850
other-craigslist             0.465036
other-email-marketing        0.137037
other-facebook-open-graph    0.249117
other-meetup                 0.128492
other-other                  0.373823
other-padmapper              0.301435
other-wayn                   0.000000
remarketing-google           0.290679
remarketing-yandex           0.000000
sem-brand-baidu              0.625000
sem-brand-bing               0.178232
sem-brand-daum               0.000000
sem-brand-google             0.312345
sem-brand-naver              0.428571
sem-brand-other              0.076923
sem-brand-yandex             0.428571
sem-non-brand-baidu          0.277778
sem-non-brand-bing           0.323144
sem-non-brand-daum           0.500000
sem-non-brand-facebook       0.000000
sem-non-brand-google         0.360159
sem-non-brand-naver          0.254237
sem-non-brand-other          0.312500
sem-non-brand-vast           0.326506
sem-non-brand-yahoo          0.000000
sem-non-brand-yandex         0.125000
seo-baidu                    0.000000
seo-bing                     0.231760
seo-facebook                 0.213318
seo-google                   0.295087
seo-other                    0.474164
seo-yahoo                    0.266871
dtype: float64

In [35]:
v_b = pd.merge(visit,booking,on = "channel-provider" )

In [36]:
v_b.columns=["visit","booking"]

In [37]:
v_b["rate"] = v_b["booking"]/v_b["visit"]
v_b = v_b.sort_values("booking",ascending = False)
v_b

                            visit  booking      rate
channel-provider
direct-direct              181270    59234  0.326772
sem-brand-google            34273    10705  0.312345
sem-non-brand-google        18092     6516  0.360159
api-other                    8167     2785  0.341006
seo-google                   9282     2739  0.295087
other-craigslist             3475     1616  0.465036
other-other                  4034     1508  0.373823
seo-facebook                 3394      724  0.213318
content-google               3043      451  0.148209
sem-brand-bing               2104      375  0.178232
remarketing-google           1266      368  0.290679
sem-non-brand-bing            916      296  0.323144
sem-non-brand-vast            830      271  0.326506
other-padmapper               836      252  0.301435
seo-yahoo                     652      174  0.266871
direct-other                  301      164  0.544850
seo-bing                      699      162  0.231760
seo-other                     329      156  0.474164
other-facebook-open-graph     566      141  0.249117
content-facebook              597       68  0.113903
other-meetup                  358       46  0.128492
sem-non-brand-other           144       45  0.312500
other-email-marketing         270       37  0.137037
content-gsp                   455       37  0.081319
sem-non-brand-naver            59       15  0.254237
sem-brand-baidu                 8        5  0.625000
sem-non-brand-baidu            18        5  0.277778
sem-brand-other                39        3  0.076923
sem-brand-yandex                7        3  0.428571
sem-brand-naver                 7        3  0.428571
content-other                  22        2  0.090909
sem-non-brand-daum              2        1  0.500000
sem-non-brand-yandex            8        1  0.125000
sem-non-brand-facebook          5        0  0.000000
content-yandex                  1        0  0.000000
sem-non-brand-yahoo             1        0  0.000000
seo-baidu                       6        0  0.000000
sem-brand-daum                  1        0  0.000000
remarketing-yandex              2        0  0.000000
other-wayn                      8        0  0.000000

In [38]:
x,y,z,v = v_b.index.tolist()[:-25],v_b["visit"].values.tolist()[:-25],v_b["booking"].values.tolist()[:-25],v_b["rate"].values.tolist()[:-25],
from pyecharts import options as opts
from pyecharts.charts import Bar, Grid, Line,Scatter



bar = (
    Bar()
    .add_xaxis(x)
    .add_yaxis(
        "page_view_volume",y,label_opts=opts.LabelOpts(is_show=False),
        yaxis_index=0,
        
    )
    .add_yaxis(
        "sign_up_volume",z,label_opts=opts.LabelOpts(is_show=False),
       
    )
   .set_global_opts(
   # title_opts=opts.TitleOpts(title="top10"),
    xaxis_opts=opts.AxisOpts(
        axistick_opts=opts.AxisTickOpts(is_align_with_label=True),
        axislabel_opts={"rotate":-25},
        is_scale=False,
        boundary_gap=True,
    ),
        
  
    )
    
    .extend_axis(
        yaxis=opts.AxisOpts(
            name="Conversion_rate",
            type_="value",
            min_=0,
           # max_=1.00,
            position="right",
            axisline_opts=opts.AxisLineOpts(
                linestyle_opts=opts.LineStyleOpts(color="#d14a61")
            ),
            axislabel_opts=opts.LabelOpts(formatter="{value}"),
        )
    )
)

c = (
    Line()
    .add_xaxis(x)
    .add_yaxis("Conversion_rate", v,yaxis_index=1,label_opts=opts.LabelOpts(is_show=False),
               markpoint_opts=opts.MarkPointOpts(
                   data=[opts.MarkPointItem(name="mark_point",
                       coord=[x[10], y[10]], value=(y[10]
                                                 )
                   )]
               ),
              )

    .set_global_opts(title_opts=opts.TitleOpts(title=""),)
)
   


bar.overlap(c)
grid = (
        Grid()
        .add(bar, opts.GridOpts(pos_left="5%", pos_right="20%"), is_control_axis_index=True)
        
    )


grid.render("abc.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\abc.html'

In [39]:
v_b.to_excel("v_b.xls")

In [40]:
from pyecharts import options as opts
from pyecharts.charts import Bar
x,y1,y2 = v_b.index.tolist()[-15:], v_b["booking"].sort_values().tolist()[-15:],v_b["visit"].sort_values().tolist()[-15:]
c = (
    Bar()
    .add_xaxis(x)
    .add_yaxis("booking", y1,stack="stack2")
    .add_yaxis("visit", y2,stack="stack2")
    .reversal_axis()
    
    .set_series_opts(label_opts=opts.LabelOpts(position = "right"))
    .set_global_opts(title_opts=opts.TitleOpts(title="channel_provider_sign_up_count"))
)
c.render("channel_provider_sign_up_count.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\channel_provider_sign_up_count.html'

## channel_provider_first_affiliate_tracked

In [41]:
visit = all_users.groupby(["first_affiliate_tracked"])["id"].count()
visit

first_affiliate_tracked
linked            62064
local ops            69
marketing           281
omg               54859
product            2353
tracked-other      6655
untracked        143181
Name: id, dtype: int64

In [42]:
booking = all_users.groupby(["first_affiliate_tracked"])["date_first_booking"].count()
booking

first_affiliate_tracked
linked           20102
local ops            9
marketing           63
omg              16425
product            542
tracked-other     2290
untracked        47739
Name: date_first_booking, dtype: int64

In [43]:
v_b = pd.merge(visit,booking,on = "first_affiliate_tracked" )
v_b.columns=["visit","booking"]

In [44]:
v_b["rate"] = v_b["booking"]/v_b["visit"]
v_b = v_b.sort_values("booking",ascending = False)
v_b

                          visit  booking      rate
first_affiliate_tracked
untracked                143181    47739  0.333417
linked                    62064    20102  0.323891
omg                       54859    16425  0.299404
tracked-other              6655     2290  0.344102
product                    2353      542  0.230344
marketing                   281       63  0.224199
local ops                    69        9  0.130435

In [45]:
x,y,z,v = v_b.index.tolist(),v_b["visit"].values.tolist(),v_b["booking"].values.tolist(),v_b["rate"].values.tolist()
from pyecharts import options as opts
from pyecharts.charts import Bar, Grid, Line,Scatter



bar = (
    Bar()
    .add_xaxis(x)
    .add_yaxis(
        "page_view_volume",y,label_opts=opts.LabelOpts(is_show=False),
        yaxis_index=0,
        
    )
    .add_yaxis(
        "sign_up_volume",z,label_opts=opts.LabelOpts(is_show=False),
       
    )
   .set_global_opts(
   # title_opts=opts.TitleOpts(title="top10"),
    xaxis_opts=opts.AxisOpts(
        axistick_opts=opts.AxisTickOpts(is_align_with_label=True),
        axislabel_opts={"rotate":-25},
        is_scale=False,
        boundary_gap=True,
    ),
        
  
    )
    
    .extend_axis(
        yaxis=opts.AxisOpts(
            name="Conversion_Rate",
            type_="value",
            min_=0,
           # max_=1.00,
            position="right",
            axisline_opts=opts.AxisLineOpts(
                linestyle_opts=opts.LineStyleOpts(color="#d14a61")
            ),
            axislabel_opts=opts.LabelOpts(formatter="{value}"),
        )
    )
)

c = (
    Line()
    .add_xaxis(x)
    .add_yaxis("Conversion_Rate", v,yaxis_index=1,label_opts=opts.LabelOpts(is_show=False),
               markpoint_opts=opts.MarkPointOpts(
                   data=[opts.MarkPointItem(name="remark",
                       coord=[x[1], y[1]], value=(y[1]
                                                 )
                   )]
               ),
              )

    .set_global_opts(title_opts=opts.TitleOpts(title=""),)
)
   


bar.overlap(c)
grid = (
        Grid()
        .add(bar, opts.GridOpts(pos_left="5%", pos_right="20%"), is_control_axis_index=True)
        
    )


grid.render("channel_provider_first_affiliate_tracked.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\channel_provider_first_affiliate_tracked.html'

## Conversion

In [46]:
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

## sum users

In [47]:
users_sum = sessions.groupby(["user_id"])["user_id"].count()
users_sum.shape

(135483,)

In [48]:
#Active Usersif users use the product more than 10 times, then he/she is active users
user_action_count = sessions.groupby(["user_id"])["user_id"].count()
user_action_count.sort_values()

user_id
e8d3p4movg       1
9h0mpmt605       1
1h68rlw2hl       1
ocp4zuz0t9       1
8wuozrt3ow       1
              ...
wg9413iaux    2362
l5lgm3w5pc    2424
mjbl6rrj52    2476
0hjoc5q8nf    2644
mxqbh3ykxl    2722
Name: user_id, Length: 135483, dtype: int64

## active users

In [49]:
user_active = user_action_count[user_action_count>=10]
user_active.shape

(114001,)

In [50]:
all_users.shape

(275547, 17)

In [51]:
sessions.shape

(10567737, 6)

In [52]:
pd_all = pd.merge(sessions,all_users,left_on="user_id",right_on="id")

In [53]:
pd_all.shape

(10533241, 23)

## sign up users count

In [54]:
pd_all.groupby(["user_id"])["user_id"].count().shape

(135483,)

In [55]:
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

## reservations

In [56]:
reser = sessions.loc[sessions["action_detail"]=="reservations"]
reser.groupby("user_id")["user_id"].count().shape

(10366,)

## payment_instruments

In [57]:
payment = sessions.loc[sessions["action_detail"]=="payment_instruments"]
payment.groupby("user_id")["user_id"].count().shape

(9018,)

## repurchase: payment_instruments > 1

In [58]:
repay = sessions.loc[sessions["action_detail"]=="payment_instruments"]
repay

,user_id,action,action_type,action_detail,device_type,secs_elapsed
114525,q83d1akfql,payment_instruments,data,payment_instruments,iPad Tablet,1.0
116971,xzulq9d96w,payment_instruments,data,payment_instruments,iPhone,8.0
116975,xzulq9d96w,payment_instruments,data,payment_instruments,iPhone,6788.0
124828,37p6yvgtst,payment_instruments,data,payment_instruments,-unknown-,93652.0
127030,tr5j6nmvs9,payment_instruments,data,payment_instruments,iPhone,61.0
...,...,...,...,...,...,...
10566586,ozb2z0km6l,payment_instruments,data,payment_instruments,Android Phone,4202.0
10566604,ozb2z0km6l,payment_instruments,data,payment_instruments,Android Phone,4808.0
10567082,f9a1ncjnrg,payment_instruments,data,payment_instruments,Android Phone,40978.0
10567098,f9a1ncjnrg,payment_instruments,data,payment_instruments,Android Phone,11270.0
10567106,f9a1ncjnrg,payment_instruments,data,payment_instruments,Android Phone,1994.0

In [59]:
repay_count = repay.groupby("user_id")["user_id"].count()
repay_count[repay_count>=2]

user_id
002qnbzfs5    12
01exzqnc72     8
01kv2ppj25     3
01w5zolph1     3
02g0fo4l82     3
              ..
zxpkkcycpj     4
zxx6dj4qly     3
zy4osm5l0s     5
zyef5tbx82     5
zyqu19zv62     4
Name: user_id, Length: 4153, dtype: int64

In [60]:
from pyecharts import options as opts
from pyecharts.charts import Funnel, Page
y = [135483,114001,73815,10366,9018, 4153]
r = [100,84.1, 64.7,14.0, 86.7, 46.1]
x = ["total_number_of_users","active_users","sign_up_users" ,"reservations_users","pay_users","repay_users"]
c = (
    Funnel()
    .add(
        "Conversion_rate",
        [list(z) for z in zip(x,y)],
       # label_opts=opts.LabelOpts(position="inside"),
    )
    .set_global_opts(title_opts=opts.TitleOpts(title=""))
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}{c}",position="inside",))
)
c.render("AARRR metrics funnel diagram.html")

'C:\\Users\\dell\\Desktop\\airbnb\\data\\AARRR metrics funnel diagram.html'